* {
    margin: 0;
    padding: 0;
    font-family: 'Frank Ruhl Libre', serif;
}
.background {
    background: #c4a287;
}

.topnav {
    background: #ab4e68;
    padding: 15px;
    font-size: 1.25em;
}

.topnav button {
    background-color: #c4a287;
    border: solid 1px #b07156;
    color: #3b2731;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}


.active {
    color: #ffffff;
    }


.mainStyles {
    background: #9d9171;
}

hr {
    border:3px solid #533745;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    color: #3b2731;
    text-align: center;
    font-size: 3em;
    margin-bottom: 15px;
}

.heroPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 90%;
    border-radius: 8px;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
}

#picture {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding: 20px;
    color: #3b2731;
}